body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 200vh;
    font-family: 'Montserrat', sans-serif;
}

.outer-div {
    margin-top: 30px;
    margin-left: 30px;
    border: 4px solid #9d95e2;
    width: 350px;
    display: inline-block;
}

.new-todo {
    margin-left: 30px;
    width: 350px;
    border: 4px solid #9d95e2;
}

#add-input {
    width: 250px;
    padding: 10px;
}

#first-add {
    width: 86px;
    text-align: center;
    padding: 10px;
    background-color: #9d95e2;
    border: 1px solid #fdbb2d;
    color: white;
}

.title {
    color: #9d95e2;
    border-bottom: 1px solid #9d95e2;
    margin-left: 30px;
}

input[type="text"] {
    color: #9d95e2;
    border: 1px #9d95e2;
}

input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9d95e2;
}


#edit {
    width: 100%;
    display: flex;
    border-bottom: 5px solid #fdbb2d;
}

.edit-input {
    width: 80%;
    height: 100%;
    padding: 10px;
}

.edit-button {
    width: 20%;
}

#format-form1, 
#format-form2 {
    display: flex;
    justify-content: space-between;
}

button[type="submit"] {
    background-color: #9d95e2;
    border: 1px solid #fdbb2d;
    color: white;
} 

.button-div1 {
    border: 1px solid #fdbb2d;
}

strong {
    color: #fdbb2d;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #9d95e2;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 12px;
    display: none;
    overflow: hidden;
    background-color: #9d95e2;
    color: white;
    
}

.button-div2 {
    border-bottom: 1px solid #fdbb2d;
}

.delete {
    background-color: #9d95e2;
    border: 1px solid #fdbb2d;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
}